* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.rps_btn {
  border: solid 1px black;
  border-radius: 50%;
}
.rps_btn:hover {
  opacity: 70%;
}
