* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --h1-font-size: clamp(2rem, 5vw, 3rem);
  --h2-font-size: clamp(1.5rem, 4vw, 2rem);
  --p-font-size: clamp(0.75rem, 2vw, 1rem);
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background: linear-gradient(
    0deg,
    rgba(0, 151, 178, 1) 0%,
    rgba(255, 87, 87, 0.85) 50%,
    rgba(255, 189, 89, 1) 100%
  );
  background-size: cover;
  background-attachment: fixed;
}
.grid_container {
  display: grid;
  place-items: center;
  max-height: 100dvh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

header {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

h1 {
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--h2-font-size);
  text-align: center;
}

p {
  font-size: var(--p-font-size);
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  max-width: 90vw;
}

img {
  max-width: 100%;
  height: auto;
}

.play_btn {
  margin: 3rem 0 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.rps_btn:hover {
  opacity: 70%;
}

.game_stats {
  display: grid;
  place-items: center;
}

.match {
  display: flex;
}

.vs_element {
  color: rgba(0, 151, 178, 1);
}

.round_choice {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 430px) {
  .round_choice {
    flex-direction: column;
    gap: 0;
  }
}

.round_winner {
  font-size: var(--h2-font-size);
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(0, 151, 178, 1);
}

.game_score {
  font-size: clamp(2rem, 6vw, 4rem);
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 1rem;
}

.end_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 20px;
  display: none;
  align-items: center;
  width: 60vw;
  height: 50dvh;
  box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.5);
}

.end_result {
  text-align: center;
  font-size: 5rem;
}

.retry_btn {
  background-color: rgba(255, 87, 87, 1);
  font-size: 2rem;
  color: white;
  padding: 1rem;
  width: fit-content;
  border-radius: 20px;
  justify-self: center;
}

.retry_btn:hover {
  opacity: 70%;
}

body.active_popup header main {
  opacity: 60%;
  filter: blur(5px);
  transition: filter 0ms ease-in-out 0ms;
}
